@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #8b0000;
  --color-secondary: #737373;
  --color-accent: #ff0266;

  --color-surface: #cfd1d2;
  --color-background: #171717;

  --color-text-primary: #8b0000;
  --color-text-secondary: #737373;

  --color-border: #262626;
  --color-error: #b00020;
}
